<h2>My Students</h2>

<% @students.each do |student| %>
  <div>
    <%= student.student_name %> <%= student.student_birthday %>

  </div>
<% end %>
  #edit button
  <br>
<a href="/students/new">Add Student</a>
<br>

<a href="/logout">Logout</a>
