<h2>My Students</h2>

<% @students.each do |student| %>
  <div>
    <%= student.name %>
    <%= student.birthday %>
    #edit button
  </div>
<% end %>

<a href="/students/new">Add Student</a>
<br>

<a href="/logout">Logout</a>
