<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <form action="logout" method="post">
      <h2>Are you done for now?</h2>
      <input type="submit" name="logout" value="See ya later!">
    </form>
    <a href="/students">Back to Students</a>
  </body>
</html>
