<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>

    <img src="https://patch.com/img/cdn/users/22574550/2014/09/raw/5428cbbad070b.jpg" alt="kids having fun" title="Kid's Party!">
    <h1>Welcome to Flatiron Elementary's Birthday Party Organizer!!</h1>


    <nav>
      <% if logged_in? %>

        <a href="/students">View My Students</a>

        <a href="/students/new">Add Student</a>
        <br>
        <a href="/parties">View All Parties</a>

        <a href="/parties/new">Add Party</a>
        <br>
        <a href="/logout">Logout</a>

      <% else %>
    <h2>Please log in or Sign up (if new) to register your student's party</h1>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>

      <% end %>

    </nav>
  </body>
</html>
